.btn-outline-light {
  color: #fff; /* Warna teks */
  background-color: transparent; /* Latar belakang transparan */
  border-color: #fff; /* Warna garis tepi */
}

.btn-outline-light:hover {
  color: #000; /* Warna teks saat dihover */
  background-color: #fff; /* Latar belakang putih saat dihover */
}
